---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/42.221.129.61?access_key=8125be66761ffcad1604896a17d00ac4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - caef65a2-5cd1-4be2-9d01-a3f045f5e011
      X-Request-Time:
      - '0.014'
    body:
      encoding: ASCII-8BIT
      string: '{"ip":"42.221.129.61","type":"ipv4","continent_code":"AS","continent_name":"Asia","country_code":"CN","country_name":"China","region_code":"BJ","region_name":"Beijing","city":"Beijing","zip":"100038","latitude":39.912288665771484,"longitude":116.3658676147461,"location":{"geoname_id":1816670,"capital":"Beijing","languages":[{"code":"zh","name":"Chinese","native":"\u4e2d\u6587"}],"country_flag":"http:\/\/assets.ipstack.com\/flags\/cn.svg","country_flag_emoji":"\ud83c\udde8\ud83c\uddf3","country_flag_emoji_unicode":"U+1F1E8
        U+1F1F3","calling_code":"86","is_eu":false}}'
  recorded_at: Thu, 22 Sep 2022 09:28:13 GMT
recorded_with: VCR 6.0.0
